<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../../assets/css/common.css" />
</head>

<body>
    <div class="aui-content" id="updateaddress-frm">
        <ul class="aui-list aui-form-list aui-list-custom">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        收货地区
                    </div>
                    <div class="aui-list-item-input" id='addressView'>
                        <input type="text" placeholder="点击选择" class="aui-text-right" v-model="pos_name" readonly="readonly">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        详细地址
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="点击输入" class="aui-text-right" v-model="addobj.address">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        收货人
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="点击输入" class="aui-text-right" v-model="addobj.receiver">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        联系电话
                    </div>
                    <div class="aui-list-item-input">
                        <input type="tel" placeholder="点击输入" class="aui-text-right" v-model="addobj.cellphone">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="aui-content-padded aui-margin-t-15" onclick="saveBtn()">
        <div class="aui-btn aui-btn-primary aui-btn-block aui-btn-sm">
            <span class="aui-pull-left">•</span>保存<span class="aui-pull-right">•</span>
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="../../../assets/js/api.js"></script>
<script type="text/javascript" src="../../../assets/js/zepto.min.js"></script>
<script type="text/javascript" src="../../../assets/js/common.js"></script>
<script type="text/javascript" src="../../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="js/updateaddress.js"></script>